// fontes
$fonte_principal: 'Roboto', sans-serif;

// cores
$cor_de_fundo: #f5f6fa;
$cor_branco: #fff;
$cor_azul_escuro: #182C61;
$cor_verde_escuro: #44bd32;
$cor_verde: #4cd137;

// breakpoints
$mobile: 767px;
$tablet: 1023px;